@{
    ViewData["Title"] = "Classic Cars";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/style.css" />

<header class="nav-bar">
    <div class="logo">R</div>

    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Collection" asp-action="Index">Collections</a>
        <a asp-controller="Gallery" asp-action="Gallery">Gallery</a>

        @if (Context.Session.GetInt32("UserId") != null)
        {
            <form asp-controller="Profile" asp-action="Index" method="get" style="display:inline;">
                <button type="submit" class="profile-btn">Profile</button>
            </form>

            <form asp-controller="Login" asp-action="Logout" method="post" style="display:inline;">
                <button type="submit" class="logout-btn">Log Out</button>
            </form>
        }
        else
        {
            <form asp-controller="Register" asp-action="Register" method="get" style="display:inline;">
                <button type="submit" class="signin-btn">Sign In</button>
            </form>

            <form asp-controller="Login" asp-action="Login" method="get" style="display:inline;">
                <button type="submit" class="login-btn">Log In</button>
            </form>
        }
    </nav>
</header>


<section class="hero">
    <h1>
        DISCOVER THE LEGACY <br />
        OF CLASSIC CARS
    </h1>

    <img src="~/gallery/Classic 1960s MGB Roadster in Navy.png" alt="Classic Car">

    <button class="learnmore-btn">
        Learn More
    </button>
</section>

<section class="collections">
    <h2>Collections</h2>

    <div class="cards">
        <div class="card">
            <div class="card-img">
                <img src="~/gallery/stuart-garage-Gw7wXoY8l_A-unsplash.jpg" alt="">
            </div>
            <p class="model">Model</p>
            <p class="price">Price</p>
            <p class="desc">Description</p>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="~/gallery/stuart-garage-Gw7wXoY8l_A-unsplash.jpg" alt="">
            </div>
            <p class="model">Model</p>
            <p class="price">Price</p>
            <p class="desc">Description</p>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="~/gallery/stuart-garage-Gw7wXoY8l_A-unsplash.jpg" alt="">
            </div>
            <p class="model">Model</p>
            <p class="price">Price</p>
            <p class="desc">Description</p>
        </div>
    </div>
</section>

<h2>Gallery</h2>

<section class="gallery">
    <div class="item-1">
        <img src="~/gallery/stuart-garage-Gw7wXoY8l_A-unsplash.jpg" alt="">
    </div>

    <div class="item-2">
        <img src="~/gallery/nathan-dumlao-gQYUUn5byyE-unsplash.jpg" alt="">
    </div>

    <div class="item-3">
        <img src="~/gallery/clem-onojeghuo-GDYjF_dU8Ng-unsplash.jpg" alt="">
    </div>

    <div class="item-4">
        <img src="~/gallery/juan-pablo-melo-m_gsmHeE4Qk-unsplash.jpg" alt="">
    </div>

    <div class="item-5">
        <img src="~/gallery/jorgen-hendriksen-lX2YG5w4_gs-unsplash.jpg" alt="">
    </div>

    <div class="item-6">
        <img src="~/gallery/stuart-garage-DkLmiGmPx2w-unsplash.jpg" alt="">
    </div>

    <div class="item-7">
        <img src="~/gallery/meritt-thomas-SWt1dHle1eA-unsplash.jpg" alt="">
    </div>
</section>

<section class="footer-hero">
    <h3>Discover the Golden Age of the Automobiles</h3>
</section>
