* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 900px;
    height: 500px;
    background: #f4eedc;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
}


.left {
    width: 45%;
    background: #ffffff;
    text-align: center;
    padding: 60px 40px;
    border-radius: 1.8em;
}

.avatar {
    width: 200px;
    height: 200px;
    background: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .avatar .icon {
        font-size: 80px;
    }

.left h1 {
    margin: 20px 0 10px;
    font-size: 36px;
}

.left p {
    font-size: 18px;
    color: #444;
}


.right {
    width: 55%;
    padding: 70px 60px;
}

    .right h2 {
        display: inline-block;
        background: #ffffff;
        padding: 10px 25px;
        border-radius: 25px;
        font-size: 28px;
        margin-bottom: 40px;
    }

.input-group {
    margin-bottom: 25px;
}

    .input-group input {
        width: 100%;
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        background: #dddddd;
        font-size: 16px;
        outline: none;
    }

button {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: #d9d9d9;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}

    button:hover {
        background: #fff;
        transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
    }

.login {
    margin-top: 25px;
    font-size: 18px;
}

    .login a {
        margin-left: 10px;
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }

        .login a:hover {
            text-decoration: underline;
        }
