* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 900px;
    height: 550px;
    background: #f4eedc;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
}


.left {
    width: 45%;
    background: #ffffff;
    text-align: center;
    padding: 60px 40px;
}

.avatar {
    width: 200px;
    height: 200px;
    background: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
}

span.icon {
    font-size: 80px;
    margin-top:45px;
}
.avatar.icon {
    margin-top: 45px;
}

.left h1 {
    font-size: 36px;
    margin: 20px 0 10px;
}

.left p {
    font-size: 18px;
    color: #444;
}


.right {
    width: 55%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
}

.title {
    display: inline-block;
    background: #7a6f6c;
    color: #000;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 28px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    form input {
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        background: #dddddd;
        font-size: 16px;
        outline: none;
    }

    form button {
        margin-top: 20px;
        padding: 18px;
        border-radius: 30px;
        border: none;
        background: #d9d9d9;
        font-size: 22px;
        cursor: pointer;
    }

        form button:hover {
            background: #cfcfcf;
        }
