* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #F3ECD7;
    margin-left: 40px;
    margin-right: 40px;
}
h2 {
    padding-right: 3.5em;
    text-align: right;
    font-size: 45px;
    margin-bottom: 1em;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    font-size: 20px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    background: #fff;
    color: #000;
    padding: 4px;
    border-radius: 7px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.signin-btn {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}

.login-btn {
    font-size: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}
.logout-btn {
    font-size: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}
.profile-btn {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}

    .login-btn:hover {
        background-color: #000;
        color: #fff;
        border: 2px solid #fff;
        transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
    }
.logout-btn:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.signin-btn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}
.profile-btn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.hero {
    z-index: 2;
    height: 700px;
    padding: 20px 20px;
    text-align: center;
    overflow: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

    .hero h1 {
        font-size: 70px;
        margin-bottom: 40px;
        position: relative;
    }

    .hero img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 700px;
        width: auto;
        z-index: 1;
        pointer-events: none;
        filter: drop-shadow(0 50px 60px rgba(0,1,0,1));
    }

.learnmore-btn {
    position: absolute;
    font-size: 20px;
    bottom: 40px;
    right: 120px;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 14px;
    border-radius: 7px;
    color: #000;
    cursor: pointer;
    z-index: 3;
}

.collections {
    padding: 40px;
    text-align: right;
}

    .collections h2 {
        font-size: 45px;
        margin-bottom: 1em;
    }

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

.card-img {
    margin-bottom: 2px;
    width: 360px;
    height: 350px;
    border-radius: 15px;
}
    .card-img img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: 15px; 
        display: block;
        position: relative; 
    }

.desc {
    font-size: 12px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    gap: 10px;
    margin: 8em;
    margin-top: 4em;
    margin-bottom: 3.5em;
}

    .gallery > div {
        border-radius: 24px;
        overflow: hidden;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery .item-1 {
        grid-row: span 3;
        grid-column: span 1;
    }

    .gallery .item-2 {
        grid-row: span 3;
    }

    .gallery .item-3 {
        grid-row: span 2;
    }

    .gallery .item-4 {
        grid-column: span 1;
        grid-row: span 7;
    }

    .gallery .item-5 {
        grid-row: span 3;
    }

    .gallery .item-6 {
        grid-row: span 3;
    }

    .gallery .item-7 {
        grid-column: span 2;
        grid-row: span 3;
    }

.footer-hero {
    background: #000;
    color: #fff;
    padding: 60px 20px;
    clip-path: polygon(0 40%,100% 0, 100% 100%,0 100%);
}

    .footer-hero h3 {
        color: #fff;
        text-align: center;
        font-size: 40px;
    }
  

